<header class="pb-3 mb-4 border-bottom">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Cartografía</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-house"></i> Portada</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-duotone fa-solid fa-folder-tree"></i> Expedientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-list-ol"></i> Distritos</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-signs-post"></i> Municipios</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-puzzle-piece"></i> Secciones</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-duotone fa-solid fa-map"></i> Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true"><i class="fa-duotone fa-solid fa-download"></i> Descargas</a>
                    </li>
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>